.btn{
    background: grey;
    color: black;
    font-size: 13px;
    margin: 30px;

}
.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    flex-direction: column;
    background-color: aquamarine;
    border: dotted;
    border-color: red;
}